asgiref==3.9.0
crispy-bootstrap4==2025.6
crispy-bootstrap5==2025.6
django==4.2.23
django-allauth==65.9.0
django-crispy-forms==2.4
pillow==11.2.1
sqlparse==0.5.3
typing-extensions==4.14.1
tzdata==2025.2
