{% load i18n %}
{% load static %}
{% load humanize %}
{% load persian_translation_tags %}


<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicons -->
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static "img/icon.png" %}">

    <!-- ************************* CSS Files ************************* -->

    <link rel="stylesheet" href="{% static "css/_base.css" %}">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{% static "css/vendor.css" %}">

    <!-- style css -->
    <link rel="stylesheet" href="{% static "css/main.css" %}">

    <!-- Bootstrap CSS -->
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> {% endcomment %}

    <title>{% block page_title %}{% endblock page_title %}</title>
  </head>
  <body dir='rtl'>
    
    {% comment %} <div class='container'> {% endcomment %}
      {% comment %} {% if user.is_authenticated %}
        <span>Hello {{ user.username }}</span> | <a href='{% url "account_logout" %}'>LogOut</a>
      {% else %}
        <a href='{% url "account_login" %}'>Login</a> | <a href='{% url "account_signup" %}'>Signup</a>
      {% endif %} {% endcomment %}
    {% comment %} </div> {% endcomment %}

    <!-- Preloader Start -->
        {% include "preloader.html" %}
    <!-- Preloader End -->

    <!-- Header Start -->
        <header class="header">
            <div class="header-inner fixed-header">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-9 col-lg-8 col-5 col-xs-0 col-none col-sm-block p-0">
                            <nav class="main-navigation">
                                <div class="site-branding" style="margin-right: 30px;">
                                    <a href="index.html" class="logo">
                                        <figure class="logo--normal d-none d-sm-block">
                                            <img class="px-5" src="{% static "img/codingyar_logo.png" %}" style="max-height: 50px; margin-bottom: -15px;" alt="Logo">
                                        </figure>
                                    </a>
                                </div>
                                <div class="mainmenu-nav d-none d-lg-block w-100 pr-3">
                                    <ul class="mainmenu d-lg-flex jusity-content-end jusity-content-lg-start pt-4">
                                        <li class="mainmenu__item menu-item-has-children active">
                                            <a href="{% url "home" %}" class="mainmenu__link">
                                                <span class="mm-text">{% trans "Home" %}</span>
                                            </a>
                                        </li>
                                        <li class="mainmenu__item menu-item-has-children">
                                            <a href="{% url "product_list" %}" class="mainmenu__link">
                                                <span class="mm-text">{% trans "Product" %}</span>
                                            </a>
                                        </li>
                                        <li class="mainmenu__item menu-item-has-children">
                                            <a href="{% url "product_list" %}" class="mainmenu__link">
                                                <span class="mm-text">{% trans "Pages" %}</span>
                                            </a>
                                         </li>
                                        <li class="mainmenu__item">
                                            <a href="{% url "aboutus" %}" class="mainmenu__link">
                                                <span class="mm-text"><a href="https://www.linkedin.com/in/samira-dorchalian-a61789219/">{% trans "Contact Us" %}</a></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-7 col-12 p-0">
                            <ul class="header-toolbar">
                                <li class="header-toolbar__item">
                                    <a href="wishlist.html" class="header-toolbar__btn mx-4">
                                        <i class="flaticon flaticon-like"></i>
                                    </a>
                                </li>
                                <li class="header-toolbar__item mini-cart-item">
                                    <a href="#miniCart" class="header-toolbar__btn toolbar-btn mini-cart-btn">
                                        <i class="flaticon flaticon-shopping-cart"></i>
                                        <sup class="mini-cart-count">{{ cart|length|intcomma:False|translate_number }}</sup>
                                    </a>
                                </li>
                                <li class="header-toolbar__item user-info">
                                    <a href="my-account.html" class="header-toolbar__btn">
                                        <i class="flaticon flaticon-user"></i>
                                    </a>
                                    <ul class="user-info-menu">
                                        {% if user.is_authenticated %}
                                            <li>
                                                <a class="text-right" href="{% url "account_logout" %}">{% trans "Logout" %}</a>
                                            </li>
                                            <li>
                                                <a class="text-right" href="profile.html">{% trans "Profile" %}</a>
                                            </li>
                                        {% else %}
                                            <li>
                                                <a class="text-right" href="{% url "account_login" %}">{% trans "Login" %}</a>
                                            </li>
                                            <li>
                                                <a class="text-right" href="{% url "account_signup" %}">{% trans "Signup" %}</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </li>
                                <li class="header-toolbar__item">
                                    <a href="#searchForm" class="header-toolbar__btn toolbar-btn">
                                        <i class="flaticon flaticon-search"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="mobile-menu"></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    <!-- Header End -->

    {% if messages %}
        <div class='container'>
            {% for message in messages %}
                <div class='alert alert-{{ message.tags }}'>{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}


    {% block content %}{% endblock content %}

    <!-- Footer Start-->
        <footer class="footer">
            <div class="footer-top bg-color ptb--50" data-bg-color="#f6f6f6">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-9 text-center">
                            <div class="footer-widget mb--50">
                                <div class="textwidget">
                                    <img src="{% static "img/codingyar_logo.png" %}" alt="Logo">
                                </div>
                            </div>
                            <div class="footer-widget mb--50 pb--1">
                                <ul class="footer-menu">
                                    <li><a href="{% url "aboutus" %}">{% trans "About US" %}</a></li>
                                    <li><a href="">{% trans "Rules and regulations" %}</a></li>
                                    <li><a href="https://www.linkedin.com/in/samira-dorchalian-a61789219/">{% trans "Contact Us" %}</a></li>
                                </ul>
                            </div>
                            <div class="footer-widget">
                                <a href='https://github.com/SamiraDorchalian'>{% trans "My GitHub" %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    <!-- Footer End-->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> {% endcomment %}

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->

    <!-- ************************* JS Files ************************* -->
    <!-- jQuery JS -->
    <script src="{% static "js/vendor.js" %}"></script>
    <!-- Main JS -->
    <script src="{% static "js/main.js" %}"></script>
  </body>
</html>