{% extends "_base.html" %}
{% load static %}
{% load i18n %}

{% block page_title %}{% endblock page_title %}

{% block content %}
    <!-- Preloader Start -->
    {% comment %} <div class="ShoppingYar-preloader active">
        <div class="ShoppingYar-preloader-inner h-100 d-flex align-items-center justify-content-center">
            <div class="ShoppingYar-child ShoppingYar-bounce1"></div>
            <div class="ShoppingYar-child ShoppingYar-bounce2"></div>
            <div class="ShoppingYar-child zuka-bounce3"></div>
        </div>
    </div> {% endcomment %}
    {% include "pre_loader_start.html" %}
    <!-- Preloader End -->

    <!-- Main Wrapper Start -->
    <div class="wrapper">
        <!-- Main Content Wrapper Start -->
        <div  class="main-content-wrapper container-fluid">
            <div class="shop-page-wrapper shop-fullwidth">
                <div class="container">
                    <div class="row mb--50">
                        <div class="col-12">
                            <div class="shop-toolbar">
                                <div class="container row align-items-center">
                                    <div class="col-lg-12 mb-md--50 mb-xs--10">
                                        <div class="shop-toolbar__left d-flex align-items-sm-center align-items-start flex-sm-row flex-column">
                                            <p class="product-pages">نمایش ۱-۲۰ از ۴۹</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid shop-products">
                    <div class="row">
                        <div class="col-12">
                            <div class="tab-content" id="product-tab-content">
                                <div class="tab-pane fade show active" id="nav-all">
                                    <div class="row xxl-block-grid-6 grid-space-20">
                                        {% for product in products %}
                                            <div class="col-xl-3 col-md-4 col-sm-6 mb--50">
                                                <div class="ShoppingYar-product">
                                                    <div class="product-inner">
                                                        <figure class="product-image">
                                                            <a href="product-details.html">
                                                                {% if product.image %}
                                                                    <img class="m-auto" style="max-height: 400px;" src="{{ product.image.url }}" alt="productImage">
                                                                {% else %}
                                                                    <img class="m-auto" style="max-height: 400px;" alt="productImage" src="{% static "img/others/comment-1.jpg" %}" />
                                                                {% endif %}
                                                            </a>
                                                            <div class="ShoppingYar-product-action">
                                                                <div class="product-action d-flex">
                                                                    <a href="wishlist.html" class="action-btn">
                                                                        <i class="flaticon flaticon-like"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <span class="product-badge">تخفیف ویژه</span>
                                                        </figure>
                                                        <div class="product-info">
                                                            <h3 class="product-title h6 mb--15">
                                                                <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                                                            </h3>
                                                            <div class="product-price-wrapper mb--30">
                                                                <span class="money text-success">{{ product.price }} {% trans "$" %}</span>
                                                                <span class="money-separator">-</span>
                                                                <span class="old-price text-danger">
                                                                    <span class="money text-danger">۸۰,۰۰۰ {% trans "$" %}</span>
                                                                </span>
                                                            </div>
                                                            <a href="cart.html" class="btn btn-small btn-bg-sand btn-color-dark px-3">اضافه کردن به سبد خرید</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <nav class="pagination justify-content-center mt-3">
                                <ul class="pagination">
                                    {% if page_obj.has_previous %}
                                        <li class="page-item">
                                            <a href="?page={{ page_obj.previous_page_number }}" class="next page-number">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M598.6 297.4C611.1 309.9 611.1 330.2 598.6 342.7L470.6 470.7C461.4 479.9 447.7 482.6 435.7 477.6C423.7 472.6 416 460.9 416 448L416 384L80 384C53.5 384 32 362.5 32 336L32 304C32 277.5 53.5 256 80 256L416 256L416 192C416 179.1 423.8 167.4 435.8 162.4C447.8 157.4 461.5 160.2 470.7 169.3L598.7 297.3z"/></svg>
                                            </a>
                                        </li>
                                    {% endif %}
                                        <li class="page-item">
                                            <span class="current page-number">{{ page_obj.number }}</span>
                                        </li>
                                    {% if page_obj.has_next %}
                                        <li class="page-item">
                                            <a href="?page={{ page_obj.next_page_number }}" class="prev page-number">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M41.4 342.6C28.9 330.1 28.9 309.8 41.4 297.3L169.4 169.3C178.6 160.1 192.3 157.4 204.3 162.4C216.3 167.4 224 179.1 224 192L224 256L560 256C586.5 256 608 277.5 608 304L608 336C608 362.5 586.5 384 560 384L224 384L224 448C224 460.9 216.2 472.6 204.2 477.6C192.2 482.6 178.5 479.8 169.3 470.7L41.3 342.7z"/></svg>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Content Wrapper Start -->

        <!-- Search form Popup Start -->
        <div class="searchform__popup" id="searchForm">
            <a href="#" class="btn-close"><i class="flaticon flaticon-cross"></i></a>
            <div class="searchform__body">
                <p>در باکس زیر عبارت خود را وارد کنید</p>
                <form class="searchform">
                    <input type="text" name="popup-search" id="popup-search" class="searchform__input" placeholder="جستجو در بین محصولات...">
                    <button type="submit" class="searchform__submit"><i class="flaticon flaticon-magnifying-glass-icon"></i></button>
                </form>
            </div>
        </div>
        <!-- Search form Popup End -->

        {% include "cart/cart_sidebar.html" %}

        <!-- Global Overlay Start -->
        <div class="ShoppingYar-global-overlay"></div>
        <!-- Global Overlay End -->

    </div>
    <!-- Main Wrapper End -->
{% endblock content %}

